body {
  color: red;
  text-align: center;
  font-family: "Arial";
  padding: 0;
  margin: 0;
}
#container {
  width: 70%;
  border: 3px solid black;
  padding: 0;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#container h1 {
  font-size: 20px;
}

#header {
  background-color: thistle;
  height: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
  color: black;
  -webkit-box-shadow: 4px 5px 12px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 5px 12px 1px rgba(0, 0, 0, 1);
  box-shadow: 4px 5px 12px 1px rgba(0, 0, 0, 1);
}

#header #tagline {
  padding-top: 10px;
  font-weight: normal;
  margin-left: 300px;
}
